@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



#loginform{
  width: 30vw;
  border: 8px solid #021414;
  padding: 20px;
  border-radius: 10%;
  background-color: #042121;
  color: white;
  
}

MDBCard {
  margin-bottom: 2rem;
}

.title {
  margin-top: 2rem;
  font-size: x-large;
  font-weight: bold;
}

.card {
  margin-top: 2rem;
  margin-bottom: 4rem;
  background-color: #042121;
  text-align: center;
  border: 8px solid #021414;
  justify-content: center;
  color: white;
  max-width: 500px;
  left: 30%;
}

#homecontainer {
  background-color: white;
  width: 100%;
}

body {
  background-color: black;
}

.video {
  max-width: 450px;
  border-radius: 100%;
}

.commentcontent{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 50%;
  color: white;
  border-bottom:#021414 ;
}

.link{
  color: '#FCD1D1';
        text-decoration: 'none';
        letter-spacing: '0.4em';
        font-size: '1em';
        font-weight: 'bold';
        padding: '0.8em';
        display: 'inline-block';
        text-align: 'center';
        width: '100%';
        transition: 'all easeOut 300ms';
        text-transform: 'uppercase';
}

#navbar {
  display: inline;
  background-color: white;
  text-decoration: none;
}


body {
  background-color: white;
  font-family: 'Bebas Neue', cursive;
}

#login {
  margin: auto;
  width: 25%;
  margin-top: 5rem;
  border: 10px blue;
}

h1{
  margin-top: 3rem;
  font-size: 50px;
  font-weight: 400;
}

#registerbutton {
  text-align: center;
  margin-top: 1rem;
}

#modal{
  background-color: #042121;

}


#modalhead.modal-header {
  padding: 13px;
  justify-content: none;
  display: inline-block;
  
}
